
.card{
	list-style: none;
	position: relative;
	background: none !important;
	border: none !important;
  }
  .card >a {
  }
  
  .card:before{
	content: '';
	display: block;
	padding-bottom: 150%;
	width: 100%;
  }
  
  .card__background{
	background-size: cover;
	background-position: center;
	border-radius: 24px;
	bottom: 0;
	filter: brightness(0.75) saturate(1.2) contrast(0.85);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: center;
	transform: scale(1) translateZ(0);
	transition: 
	  filter 200ms linear,
	  transform 200ms linear;
  }
  
  .card:hover .card__background{
	transform: scale(1.05) translateZ(0);
  }
  
  /* TODO: heck the blur effect fron not hove cards at the grid */
  .my-masonry-grid:hover > .card:not(:hover) .card__background{
	filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
	left: 0;
	padding: 24px 24px 10px 24px;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
  }
  
  .card__category{
	color: rgba(255,255,255,0.6);
	font-size: 1.1rem;
	font-weight:600;
	margin-bottom: 8px;
	/* text-transform: uppercase; */
  }
  
  .card__heading{
	color: rgba(255,255,255,0.6);
	font-size: 0.8rem;
	text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
	line-height: 1.4;
	word-spacing: 100vw;
  }


/* ///////////////////////////////////////////////////////////////// */
.products-center *{
}
.adopted{
 background-color: #fa537d6e !important;
 font-size: 0.7rem !important ;
 box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    0px 0px 0px 0 rgba(255, 255, 255, 0.5) !important;
 /* box-shadow: 12px 12px 24px 0 rgba(92, 179, 75, 0.2), -12px -12px 24px 0 rgba(161, 52, 52, 0.5) !important; */
}


.card-title{
	font-size: 20px;
    font-family: montBold,sans-serif;
    margin: 5px;
    padding: 0;
}

.cards {
	margin: 10px;
    cursor: pointer;
    border-radius: 5%;
	font-family: montLight,sans-serif;
	color: teal;
	
	
}
.img-card{
	width:100%;
	height: 140px;
	border-radius: 40px 40px 0 0 ;
	
}
.cards-neo{
	border-radius: 51px;
	/* box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55); */
	padding: 5px;
	position: relative;
	color: black;
}
.cards-neo :hover{
	/* box-shadow: inset -6px -6px 20px rgba(255,255,255,0.5), inset 6px 6px 20px rgba(0,0,0,0.05); */
	/* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5); */
}
.cards-neo:hover *{
	text-decoration: none;

}
/* .heart-icon{
	fill: black;
	}
.MuiSvgIcon-root{
	fill:black;
} */
.btn-neo{
	
	box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -2px -2px 0px 0 rgba(255, 255, 255, 0.5);
  font-size: 5rem;
  /* width: 200px;
  height: 200px; */
  border-radius: 40px;
  overflow: hidden;
  padding: 1.3rem;
  display: flex;
  
}

.btn-neo:hover{
	box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
	inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}
.btn-neo a {
	text-decoration: none;
	color: black;
	
}
.image-details{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 110px;
	left: 20px;
	width: 80%;
	color :rgb(92, 82, 82) ;
	
	/* background-color: rgba(170, 155, 155, 0.212); */
	/* border-radius: 0%; */
}
.image-details > h2 + p {
	font-weight: 800;		
				 padding: 0 15px !important;
				 margin-bottom: 0 !important;
			 }
.card-actions *{
	font-weight: 800;
	/* padding: 0 15px !important; */
	}

/******* helpers *******/

/* //Flex Helpers */
.flex {
    display: flex;
}

.row{
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}
.space-evenly{
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.justify-end{
    justify-content:flex-end ;
}


.justify-start{
    justify-content:flex-start ;
}

.align-start{
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.wrap {
	flex-wrap: wrap;
}

.no-wrap{
    flex-wrap: nowrap;
}

/* //List Helpers */
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ellipsis{
text-overflow: ellipsis;
}


/* // Aspect ratios */
/* 
.ratio-16-9 { @include aspect-ratio(100, 56); }

.ratio-square { @include aspect-ratio(100, 100); }

.ratio-card { @include aspect-ratio(100, 80); }

.ratio-poster { @include aspect-ratio(100, 150); } */