.logo{
    width: 100px;
    height: 100px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;

}
.header nav {
    display: flex;
    justify-content: space-between;
}
.navigation{
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-end;
}
.navHeader ul {
    list-style: none;
    width: 100vh;
    
}


